.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0% 20% 0 20%;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 200px;
}

.button {
  padding: 10px 18px;
  background-color: #1f74e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: #145bb3;
}
